.btn-connectors {
    background-color: #3b82f6; /* Blue */
    color: #fff;
  }
  
  .btn-add {
    background-color: #22c55e; /* Green */
    color: #fff;
  }
  
  .btn-licenses {
    background-color: #f59e0b; /* Amber */
    color: #fff;
  }
  
  .btn-internal-connectors {
    background-color: #e94d18; /* Blue */
    color: #fff;
  }