<div class="d-flex justify-content-between align-items-center">
  <h2>Automations</h2>
  <div>
    <button type="button" class="btn btn-sm btn-internal-connectors  ms-2 text-white" (click)="configInternal()">
      <i class="fa-solid fa-plug"></i> Save DataGerry API Credentials
    </button>
    <button type="button" class="btn btn-sm btn-connectors ms-2 text-white" [routerLink]="['/automations/connectors']">
      <i class="fa-solid fa-plug"></i> Manage Connectors
    </button>
    <button type="button" class="btn btn-sm btn-licenses ms-2 text-white" [routerLink]="['/automations/licenses']">
      <i class="fa-solid fa-key"></i> View Licenses
    </button>
    <button type="button" class="btn btn-sm btn-add ms-2 text-white" [routerLink]="['/automations/add']">
      <i class="fas fa-plus"></i> Add Automation
    </button>
  </div>
</div>
<hr />

<!-- CMDB Table -->
<cmdb-table [items]="automations" [columns]="columns" [totalItems]="totalAutomations" [pageSize]="limit" [page]="page"
  [loading]="loading" [paginationEnabled]="false" [pageSizeEnabled]="true" [searchEnabled]="false" [infoEnabled]="false"
  (pageChange)="onPageChange($event)" (pageSizeChange)="onPageSizeChange($event)">
</cmdb-table>

<!-- Direction Template -->
<ng-template #directionTemplate let-item="item">
  <span class="badge" [ngClass]="{
    'bg-primary': item.direction === 'incoming',
    'bg-success': item.direction === 'outgoing'
  }" style="color: white;">
    {{ item.direction}}
  </span>
</ng-template>

<!-- Status Template -->
<ng-template #statusTemplate let-item="item">
  <span class="badge" [ngClass]="{
    'bg-success': item.status === true,
    'bg-secondary': item.status === false
  }" style="color: white;">
    {{ item.status === true ? 'Active' : 'Inactive' }}
  </span>
</ng-template>

<!-- Last Success Template -->
<ng-template #lastSuccessTemplate let-item="item">
  <div class="text-center">
    <div>{{ getLastSuccessDisplay(item).date }}</div>
    <div class="text-muted small">{{ getLastSuccessDisplay(item).taId }}</div>
  </div>
</ng-template>

<!-- Last Fail Template -->
<ng-template #lastFailTemplate let-item="item">
  <div class="text-center">
    <div>{{ getLastFailDisplay(item).date }}</div>
    <div class="text-muted small">{{ getLastFailDisplay(item).taId }}</div>
  </div>
</ng-template>

<!-- Last Duration Template -->
<ng-template #lastDurationTemplate let-item="item">
  <div class="text-center">
    {{ getLastDuration(item) }}
  </div>
</ng-template>

<!-- Actions Template -->
<ng-template #actionsTemplate let-item="item">
  <div class="action-buttons">
    <i class="fas fa-play icon-margin btn-run" 
    [title]="'Execute Scheduler'"
    (click)="executeScheduler(item.schedulerId)">
 </i>
    <i class="far fa-edit icon-margin btn-edit" style="margin-left: 5px;" (click)="editAutomation(item)" title="Edit Automation"></i>
    <i class="far fa-trash-alt btn-delete" style="margin-left: 5px;" (click)="delete(item)" title="Delete Automation"></i>
  </div>
</ng-template>


<app-loading-popup 
  [isVisible]="isLoading$ | async"
  message="We're Processing the Data..."
></app-loading-popup>